#### Description

In [2]:
print('Author:  Leo Pauly (cnlp@leeds.ac.uk) & Nick Wilson (n.wilson@lubs.leeds.ac.uk)')
print('Description: Autmatic database update')

Author:  Leo Pauly (cnlp@leeds.ac.uk) & Nick Wilson (n.wilson@lubs.leeds.ac.uk)
Description: Autmatic database update

#### Usage intructions & Other info

1. Give absolute file paths always
2. Assumed that new entry directory names always start with UKLTD_R_ or UKLTD_W_
3. File dir_list.txt contains the processed directory list
4. Prefefably install python using anacodna (all in one installation): https://www.anaconda.com/products/individual#windows
5. Run this if 'pyreadstat module is missing':  !pip install pyreadstat 
6. Need only change base directory in most of the case
7. Databases are stored in the directory (Create one if missing) : UKLTD_Database
8. Select user (options: 'leo','nick')
9.

#### Imports

In [3]:
import psutil
import os
import sys
print('python version',sys.version)
import pandas as pd
import numpy as np
import pyreadstat
import dask
AC01_header=['AC01', 'REGNUM', 'ACCDAT_start', 'ACCDAT', 'number_of_weeks', 'months',
       'currency', 'consolidated', 'acctype', 'Turnover', 'Export',
       'Cost_of_Sales', 'Gross_Profit', 'Wages_Salaries',
       'Directors_Emoluments', 'Operating_Profits', 'Depreciation',
       'Audit_Fees', 'Interest_Payments', 'Pre_Tax_Profit', 'taxation1',
       'Profit_After_Tax', 'Dividends_Payable', 'Retained_Profits',
       'Tangible_Assets', 'Intangible_Assets', 'Total_Fixed_Assets',
       'Total_Current_Assets', 'Trade_Debtors', 'Stock', 'Cash',
       'Other_Current_Assets', 'Increase_In_Cash', 'Mis_Current_Assets',
       'Total_Assets', 'Total_Current_Liabilities', 'Trade_Creditors',
       'Bank_Overdraft', 'Other_Short_Term_Fin', 'Mis_Current_Liabilities',
       'Other_Long_Term_Fin', 'Total_Long_Term_Liabilities',
       'Bank_Overdraft_LTL', 'Total_Liabilities', 'Net_Assets',
       'Working_Capital', 'Paid_up_equity', 'PL_Account_Weserve',
       'Sundry_Weserves', 'Revaluation_Weserve', 'Shareholder_Funds',
       'NetWorth', 'NetCashflowfromOperations', 'NetCashflowbeforeFinancing',
       'NetCashflowfromFinancing', 'Contingent_Liability', 'Capital_Employed',
       'No_Employees', 'status', 'UPLOAD']

python version 3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

#### Checking new entries

In [4]:
## Checking for new download
with open(r'\\ds.leeds.ac.uk\student\student13\cnlp\Research Fellowship\UKLTD_Scripts\dir_list.txt', 'a+') as fd:
    fd.seek(0)
    dir_list_old=fd.read().split('\n')
   
print('List of processed directores:',*dir_list_old,sep='\n')
dir_list_new=[dir_name for dir_name in os.listdir("\\\ds.leeds.ac.uk\student\student13\cnlp\Research Fellowship") if (dir_name.startswith("UKLTD_W") or dir_name.startswith("UKLTD_R"))]
#print (*dir_list_new,sep='\n')
entry_dir_list=[entry_dir for entry_dir in dir_list_new if entry_dir not in dir_list_old ]
print('\nNew entries detected:',*entry_dir_list,sep='\n')

List of processed directores:

UKLTD_R_20190602
UKLTD_W_20190601
UKLTD_W_20190609
UKLTD_W_20190610

New entries detected:

#### Creating/Loading database

In [17]:
#!pip install pyreadstat #Run this if 'pyreadstat module is missing'
database_file=(r"\\ds.leeds.ac.uk\student\student13\cnlp\Research Fellowship\UKLTD_Database\AC01.sav")
if (os.path.isfile(database_file)):
    print('Database found.','Reading database: \n')
    df_database=pd.read_spss(database_file)
else:
    print('Database not found.','Creating database: \n')
    df_database=pd.DataFrame(columns=AC01_header)
    
df_database

Database not found. Creating database:

Empty DataFrame
Columns: [AC01, REGNUM, ACCDAT_start, ACCDAT, number_of_weeks, months, currency, consolidated, acctype, Turnover, Export, Cost_of_Sales, Gross_Profit, Wages_Salaries, Directors_Emoluments, Operating_Profits, Depreciation, Audit_Fees, Interest_Payments, Pre_Tax_Profit, taxation1, Profit_After_Tax, Dividends_Payable, Retained_Profits, Tangible_Assets, Intangible_Assets, Total_Fixed_Assets, Total_Current_Assets, Trade_Debtors, Stock, Cash, Other_Current_Assets, Increase_In_Cash, Mis_Current_Assets, Total_Assets, Total_Current_Liabilities, Trade_Creditors, Bank_Overdraft, Other_Short_Term_Fin, Mis_Current_Liabilities, Other_Long_Term_Fin, Total_Long_Term_Liabilities, Bank_Overdraft_LTL, Total_Liabilities, Net_Assets, Working_Capital, Paid_up_equity, PL_Account_Weserve, Sundry_Weserves, Revaluation_Weserve, Shareholder_Funds, NetWorth, NetCashflowfromOperations, NetCashflowbeforeFinancing, NetCashflowfromFinancing, Contingent_Liability, Capital_Employed, No_Employees, status, UPLOAD]
Index: []

[0 rows x 60 columns]

In [18]:
print('Number of variables:',len(df_database.columns),'\nVariables names:\n', df_database.columns)

Number of variables: 60
Variables names:
 Index(['AC01', 'REGNUM', 'ACCDAT_start', 'ACCDAT', 'number_of_weeks', 'months',
       'currency', 'consolidated', 'acctype', 'Turnover', 'Export',
       'Cost_of_Sales', 'Gross_Profit', 'Wages_Salaries',
       'Directors_Emoluments', 'Operating_Profits', 'Depreciation',
       'Audit_Fees', 'Interest_Payments', 'Pre_Tax_Profit', 'taxation1',
       'Profit_After_Tax', 'Dividends_Payable', 'Retained_Profits',
       'Tangible_Assets', 'Intangible_Assets', 'Total_Fixed_Assets',
       'Total_Current_Assets', 'Trade_Debtors', 'Stock', 'Cash',
       'Other_Current_Assets', 'Increase_In_Cash', 'Mis_Current_Assets',
       'Total_Assets', 'Total_Current_Liabilities', 'Trade_Creditors',
       'Bank_Overdraft', 'Other_Short_Term_Fin', 'Mis_Current_Liabilities',
       'Other_Long_Term_Fin', 'Total_Long_Term_Liabilities',
       'Bank_Overdraft_LTL', 'Total_Liabilities', 'Net_Assets',
       'Working_Capital', 'Paid_up_equity', 'PL_Account_Weserve',
       'Sundry_Weserves', 'Revaluation_Weserve', 'Shareholder_Funds',
       'NetWorth', 'NetCashflowfromOperations', 'NetCashflowbeforeFinancing',
       'NetCashflowfromFinancing', 'Contingent_Liability', 'Capital_Employed',
       'No_Employees', 'status', 'UPLOAD'],
      dtype='object')

#### Updating database

Rules:

1. Check for fields:REG
2. If they exist update ?? 
3. If not: add as new row in database

In [19]:
def update_database(entry_dir):
    global df_database
    entry_file="AC01_"+(entry_dir.split('_')[-2])+"_"+(entry_dir.split('_')[-1])+".txt"
    print('Entry file:',entry_file)
    df_entry_file=pd.read_csv(r"\\ds.leeds.ac.uk\student\student13\cnlp\Research Fellowship\%s\\"%entry_dir+entry_file,sep='|',names=AC01_header)
    df_entry_file['UPLOAD']=entry_file.split('.')[0]
    for idx,entry_row in df_entry_file.iterrows():
        database_row=df_database.loc[df_database['REGNUM']==entry_row['REGNUM']]
        if(entry_row['REGNUM'] not in df_database['REGNUM'].unique()):
            df_database=df_database.append(entry_row,ignore_index=True)
        elif(entry_row.equals(other=database_row)):
            df_database=df_database.append(entry_row,ignore_index=True)
    return True

In [20]:
## Reading from new directory
for entry_dir in entry_dir_list:
    print('\nReading from entry dir:',entry_dir)
    print('Update Success:',update_database(entry_dir))

Reading from entry dir: UKLTD_R_20190602
Entry file: AC01_R_20190602.txt
Update Success: True

Reading from entry dir: UKLTD_W_20190601
Entry file: AC01_W_20190601.txt
Update Success: True

Reading from entry dir: UKLTD_W_20190609
Entry file: AC01_W_20190609.txt
Update Success: True

Reading from entry dir: UKLTD_W_20190610
Entry file: AC01_W_20190610.txt
Update Success: True

In [21]:
df_database

,AC01,REGNUM,ACCDAT_start,ACCDAT,number_of_weeks,months,currency,consolidated,acctype,Turnover,...,Shareholder_Funds,NetWorth,NetCashflowfromOperations,NetCashflowbeforeFinancing,NetCashflowfromFinancing,Contingent_Liability,Capital_Employed,No_Employees,status,UPLOAD
0,AC01,5263,01/04/2017,31/03/2018,52,12,GBP,N,1,NaN,...,1,1,NaN,0,NaN,0,1,NaN,4,AC01_R_20190602
1,AC01,24869,01/01/2017,31/12/2017,52,12,GBP,Y,4,342305000.0,...,592473000,564043000,43351000.0,40630000,-35591000.0,0,636447000,1066.0,1,AC01_R_20190602
2,AC01,866,01/01/2017,31/12/2017,52,12,GBP,N,1,0.0,...,859000,859000,NaN,0,NaN,0,859000,NaN,1,AC01_W_20190601
3,AC01,7796,01/01/2017,31/12/2017,52,12,GBP,N,1,NaN,...,4177643,4177643,NaN,0,NaN,0,4340693,76.0,1,AC01_W_20190601
4,AC01,836,01/01/2017,31/12/2017,52,12,GBP,N,1,0.0,...,859000,859000,NaN,0,NaN,0,859000,NaN,1,AC01_W_20190610

In [22]:
## Writing updated databse to file
df_database=pyreadstat.write_sav(df_database,database_file)

In [23]:
## Update processed directory list
with open(r"\\ds.leeds.ac.uk\student\student13\cnlp\Research Fellowship\UKLTD_Scripts\dir_list.txt", 'w') as fd:
    fd.write('\n'.join(dir_list_old+entry_dir_list))